@model Stock_v2.Models.Portfel

<form method="post" asp-action="CreatePost">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 p-3">Dodaj spółkę</h2>
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Walor"></label>
            </div>
            <div class="col-4">
                <label asp-for="LiczbaAkcji"></label>
            </div>
            <div class="col-4">
                <label asp-for="CenaZakupu"></label>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-4">
                <select asp-for="WalorId" asp-items="@ViewBag.TypeDropDown" class="form-control">
                    <option selected>--Wybierz Spółkę--</option>
                </select>              
                <span asp-validation-for="WalorId" class="text-danger"></span>
            </div>
            <div class="col-4">
                <input asp-for="LiczbaAkcji" class="form-control" />
                <span asp-validation-for="LiczbaAkcji" class="text-danger"></span>
            </div>
            <div class="col-4">
                <input asp-for="CenaZakupu" class="form-control" />
                <span asp-validation-for="CenaZakupu" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col-6">
                    <input type="submit" class="btn btn-info w-75" value="create" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-75">Back</a>
                </div>
            </div>
        </div>

    </div>
</form>
